body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

.balanceDiv {
    font-size: 20px;
    margin-bottom: 10px;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 2px;
}

button.getLoadBtn {
    background-color: #ff0000;
}

button:hover {
    background-color: #0056b3;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
